
<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
  <div class="container d-flex justify-content-center">
    <a class="navbar-brand h5" href="/">GadgetStore</a>
  </div>
</nav>

<!-- Sidebar -->
<div class="container-fluid p-0">
  <div class="flex-nowrap">
    <div class="d-flex">
    <div class="col-auto col-2 col-xl-2 col-lg-3 col-md-3 d-flex justify-content-between flex-column py-3 text-dark min-vh-100" style="background-color:  rgba(185, 185, 185, 1);">
      <a href="/" class="d-flex justify-content-center text-dark text-decoration-none pt-3">
        <span class="fs-5 fw-bold d-none d-md-inline">Admin Panel</span>
      </a>
      <hr class="mb-0 mt-3" />
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="/admin" class="nav-link adminside fw-bold fs-4">
            <i class="fs-5 fa-solid fa-house"></i><span class=" ms-3 d-none d-md-inline">Dashboard</span>
        </a>
        </li>
        <li class="nav-item ">
          <a href="/admin/products" class="nav-link adminside fw-bold fs-4">
            <i class="fs-5 fa-brands fa-product-hunt "></i><span class=" ms-3 d-none d-md-inline ">Products</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/admin/category" class="nav-link adminside fw-bold fs-4">
                <i class="fa-solid fa-c"></i><span class=" ms-3 d-none d-md-inline">Category</span>
              </a>
          </li>
          <li class="nav-item">
            <a href="/admin/users" class="nav-link adminside fw-bold fs-4">
                <i class="fa-solid fa-user"></i><span class=" ms-3 d-none d-md-inline">Users</span>
              </a>
          </li>
          <li class="nav-item">
            <a href="/admin/orders" class="nav-link adminside fw-bold fs-4">
                <i class="fa-solid fa-bars"></i><span class=" ms-3 d-none d-md-inline">Orders</span>
              </a>
          </li>
          <li class="nav-item">
            <a href="/admin/coupons" class="nav-link adminside fw-bold fs-4">
              <i class="fa-solid fa-ticket"></i><span class=" ms-3 d-none d-md-inline">Coupon</span>
              </a>
          </li>
          <li class="nav-item">
            <a href="/admin" class="nav-link adminside fw-bold fs-4">
                <i class="fa-solid fa-receipt"></i><span class=" ms-3 d-none d-md-inline">Offer</span>
              </a>
          </li>
      </ul>
    </div>
  
