<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- tittle %></title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 50px;
        }

        h1 {
            color: #e74c3c;
        }

        p {
            color: #7f8c8d;
        }
    </style>
</head>
<body>
    <h1><%= message %></h1>
    <p><%= stack %></p>
</body>
</html>